<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Dashboard</h1>
    <p class="lead">Welcome</p>
  </div>
</div>
<div class="container">
<body class="text-center">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">User Account</h4>
      </div>
      <div class="card-body d-flex flex-column">
        <h1><%= fa_icon "address-book" %></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Logged in as: <b>BJ Petrie</b></li>
          <li>Reg Number: <b>1277</b></li>
          <li>Phone: <b>902 537-0908</b></li>
          <li>Alt Phone: <b>902 270-6470</b></li>
          <li class="alert1 alert-success"><b>Available</b></li>
        </ul>
        <button type="button" class="mt-auto btn btn-lg btn-block btn-primary">Edit Account</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Calendar</h4>
      </div>
      <div class="card-body d-flex flex-column">
        <h1><%= fa_icon "calendar" %></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>View and track</li>
          <li>shifts called</li>
          <li>and shifts worked</li>
          &nbsp
          <li class="alert2 alert-danger">Not Functioning</li>
        </ul>
        <button type="button" class="mt-auto btn btn-lg btn-block btn-primary">View Calendar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Platoon Roster</h4>
      </div>
      <div class="card-body d-flex flex-column">
        <h1><%= fa_icon "list-alt" %></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>View platoon lists</li>
          <li>and manage</li>
          <li>callouts</li>
        </ul>
        <button type="button" class="mt-auto btn btn-lg btn-block btn-primary">Manage</button>
      </div>
    </div>
  </div>